# Intermediate SQL Queries
Here you can access every table used in the course. To access each table, you will need to specify the `cinema` schema in your queries (e.g., `cinema.reviews` for the `reviews` table.

## Take Notes

Add notes about the concepts you've learned and SQL cells with queries you want to keep.

_Add your notes here_

In [ ]:
-- Add your own queries here
SELECT *
FROM cinema.reviews
LIMIT 5

   id  film_id  num_user  num_critic  imdb_score  num_votes  facebook_likes
0   1     3934       588         432         7.1     203461           46000
1   2     3405       285         267         6.4     149998               0
2   3      478        65          29         3.2       8465             491
3   4       74        83          25         7.6       7071             930
4   5     1254      1437         224         8.0     241030           13000

## Explore Datasets
Use the tables to explore the data and practice your skills!
- Select the `film_id`, `imdb_score`, and `num_votes` in the `reviews` table. 
    - Filter your results for records where:
        - The `imdb_score` is greater than 8.
        - The number of votes (`num_votes`) is more than 1 million (1000000).
- Return the average cost to make a movie (`budget`) by the `country` of origin in the `films` table. 
    - Exclude `NULL` values in the `budget` column. 
    - Order your results by the average budget in descending order.
- Return the `language`, total `budget` (aliased as `total_budget`), and total `gross` (aliased as `total_gross`) from the `films` table. 
    - Filter the records for films with a duration greater than 90.
    - Only include languages where the total gross is over 1 million (1000000).
    - Order your results by the total gross in descending order.

In [4]:
SELECT FILM_ID, IMDB_SCORE, NUM_VOTES 
FROM cinema.reviews 
WHERE IMDB_SCORE > 8 AND NUM_VOTES > 1000000;

    film_id  imdb_score  num_votes
0      1310         8.7    1217752
1      3110         9.0    1676169
2      3514         8.8    1468200
3       742         9.3    1689764
4      1228         8.8    1347461
5      4049         8.5    1144337
6      1872         8.7    1100446
7       178         9.2    1155770
8      2045         8.9    1215718
9      1667         8.8    1238746
10      723         8.9    1324680
11      791         8.6    1023511
12      709         8.8    1251222

Return the average cost to make a movie (budget) by the country of origin in the films table.
* Exclude NULL values in the budget column.
* Order your results by the average budget in descending order.

In [13]:
Select country, AVG(budget) as avg_budget
FROM cinema.films 
group by country
HAVING AVG(budget) > 0
order by AVG(budget) desc;

                 country    avg_budget
0            South Korea  1.383960e+09
1                Hungary  1.260000e+09
2                  Japan  3.684168e+08
3               Thailand  2.272500e+08
4                  India  9.797336e+07
..                   ...           ...
57    Dominican Republic  5.000000e+05
58  United Arab Emirates  1.250000e+05
59           Afghanistan  4.600000e+04
60                 Kenya  1.500000e+04
61           Philippines  7.000000e+03

[62 rows x 2 columns]

Return the language, total budget (aliased as total_budget), and total gross (aliased as total_gross) from the films table.
* Filter the records for films with a duration greater than 90.
* Only include languages where the total gross is over 1 million (1000000).
* Order your results by the total gross in descending order

In [15]:
SELECT language, SUM(budget) as total_budget, SUM(gross) as total_gross 
FROM cinema.films 
WHERE duration > 90 
group by language
HAVING SUM(gross) > 1000000
ORDER BY SUM(gross) desc;

      language  total_budget   total_gross
0      English  1.346371e+11  182272436566
1      Spanish  9.226188e+08     247534232
2     Mandarin  1.168632e+09     163441608
3       French  9.541045e+08     138938361
4   Aboriginal  8.600000e+07      78680789
5     Japanese  6.789920e+09      57216469
6         Maya  4.000000e+07      50859889
7        Hindi  1.027668e+09      46559734
8       German  1.159000e+08      36481311
9    Cantonese  1.370000e+08      31217732
10     Italian  2.935000e+07      17664412
11        Dari  2.000000e+07      15797907
12  Portuguese  2.620000e+07      13573100
13        Thai  9.000000e+08      12461829
14    Filipino  8.000000e+07      10166502
15     Persian  5.000000e+05       7538450
16      Korean  1.644930e+10       6603670
17      Telugu  1.802615e+07       6498000
18   Mongolian  2.000000e+07       5701643
19       Dutch  3.215000e+07       5654665
20  Indonesian  2.100000e+06       4589344
21              1.273091e+07       4066555
22      Hebrew           NaN       2969065
23        Zulu  1.300000e+07       2912363
24        None  1.650000e+07       2601847
25      Danish  5.100000e+06       2258748
26     Russian  7.170000e+07       2171160
27      Arabic  1.110000e+07       1681831
28   Norwegian  5.100000e+07       1491113
29    Romanian  7.580000e+05       1185783